{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>Congrats, you have checkout!</p>
<img src="{% static 'thumbsup.png' %}" alt="Success">

<p>Here are the new detail(s):</p>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.year}}</p>
        <p class="card-text">{{book.synopsis}}</p>
        <p class="card-text">{{book.category}}</p>
        <a href="#" class="btn btn-primary">{{book.price}}</a>
    </div>
</div>
{% endblock %}